In [4]:
mylist = [(1,2),(3,4),(5,6)]
len(mylist)

for a,b in mylist:
    print(a)

1
3
5

In [9]:
d = {"k1":1, "k2":2, "k3":3}

for key,value in d.items():
    print(key)

k1
k2
k3

In [12]:
mylist = [1,2,3]

for num in range(3,10,2):
    print(num)

3
5
7
9

In [15]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
index_count = 0

for letter in "abcde":
    print("At index {} the letter is {}".format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [31]:
index_count = 0
word = "abcde"

for letter in word:
    print(word[index_count])
    print(letter)
    index_count += 1

a
a
b
b
c
c
d
d
e
e

In [25]:
word = "abcde"

for index,letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

In [32]:
mylist1 = [1,2,3,4,5]
mylist2 = ["a", "b", "c"]

zip(mylist1, mylist2)

In [35]:
for item1, item2 in zip(mylist1, mylist2):
    print(item1)
    print(item2)

1
a
2
b
3
c

In [36]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [37]:
"x" in [1,2,3]

False

In [38]:
"x" in ["x", "y"]

True

In [39]:
"a" in "hallo"

True

In [40]:
"k1" in {"k1": 2}

True

In [42]:
d = {"k1": 2}

2 in d.values()

True

In [45]:
mylist = [10,20,30]

min(mylist)
max(mylist)

30

In [47]:
from random import shuffle

mylist = [1,2,3,4,5]
shuffle(mylist)

In [48]:
mylist

[2, 4, 1, 3, 5]

In [52]:
from random import randint

randint(0,100)

26

In [54]:
result = input("Enter a number here: ")

Enter a number here: 2

In [55]:
result

'2'

In [56]:
float(result)

2.0

------

In [57]:
mystring = "hello"

mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [63]:
mylist2 = [letter for letter in mystring]
mylist2

['h', 'e', 'l', 'l', 'o']

In [64]:
mylist = [x for x in "word"]
mylist

['w', 'o', 'r', 'd']

In [66]:
mylist = [x for x in range(10)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
mylist = [x**2 for x in range(4)]
mylist

[0, 1, 4, 9]

In [70]:
mylist = [x for x in range(10) if x%2 == 0]
mylist

[0, 2, 4, 6, 8]

In [73]:
celsius = [0,10,30,50]
fahr = [(9/5)*x + 32 for x in celsius]
fahr

[32.0, 50.0, 86.0, 122.0]

In [74]:
mylist = [x if x%2 == 0 else "OOD" for x in range(10)]
mylist

[0, 'OOD', 2, 'OOD', 4, 'OOD', 6, 'OOD', 8, 'OOD']

In [76]:
mylist = []

for x in [2,3,4]:
    for y in [100,200,400]:
        mylist.append(x*y)
        
mylist

[200, 400, 800, 300, 600, 1200, 400, 800, 1600]

In [79]:
mylist = [x*y for x in [2,3,4] for y in [100,200,400]]
mylist

[200, 400, 800, 300, 600, 1200, 400, 800, 1600]