___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [240]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if a < b:
            return b
        else:
            return a

In [241]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [242]:
# Check
lesser_of_two_evens(2,4)

2

In [243]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    words = text.split()
    if words[0][0] == words[1][0]:
        return True
    else:
        return False

In [244]:
def animal_crackers(text):
    words = text.split()
    return words[0][0] == words[1][0]

In [245]:
# Check
animal_crackers('Levelheaded Llama')

True

In [246]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [10]:
def makes_twenty(n1,n2):
    if n1+n2 == 20 or (n1 == 20) or (n2 == 20):
        return True
    else:
        return False

In [247]:
def makes_twenty(n1,n2):
    return n1+n2 == 20 or (n1 == 20) or (n2 == 20)

In [248]:
# Check
makes_twenty(20,10)

True

In [249]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [66]:
def old_macdonald(name):
    new_word = ""
    for i in range(len(name)):
        if i == 0 or i == 3:
            new_word += name[i].upper()
        else:
            new_word += name[i]
    print(new_word)

In [ ]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [67]:
# Check
old_macdonald('macdonald')

MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [78]:
def master_yoda(text):
    mylist = text.split()
    invert_list = mylist[::-1]
    result = " ".join(invert_list)
    print(result)

In [ ]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [79]:
# Check
master_yoda('I am home')

home am I

In [80]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [83]:
def almost_there(n):
    return abs(n - 100) <= 10 or abs(n - 200) <= 10

In [ ]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [84]:
# Check
almost_there(104)

True

In [85]:
# Check
almost_there(150)

False

In [86]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [111]:
def has_33(nums):
    for i in range(len(nums)):
        if i > 0:
            if nums[i] == 3 and nums[i-1] == 3:
                return True
            else:
                pass
    return False

In [ ]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [112]:
# Check
has_33([1, 3, 3])

True

In [113]:
# Check
has_33([1, 3, 1, 3])

False

In [114]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [121]:
def paper_doll(text):
    return "".join([x*3 for x in text])

In [ ]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [122]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [123]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [157]:
def blackjack(a,b,c):
    mysum = a + b + c
    if mysum <= 21:
        return mysum
    else:
        if a == 11 or b == 11 or c == 11:
            mysum -= 10
        if mysum > 21:
            print("bust")
        else:
            return mysum

In [ ]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [158]:
# Check
blackjack(5,6,7)

18

In [159]:
# Check
blackjack(9,9,9)

bust

In [160]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [178]:
def summer_69(arr):
    sum = 0    
    for i in arr:
        if i >= 6 and i <= 9:
            continue
        sum += i
    return sum

# wrong

In [ ]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [ ]:
def summer_69(arr):
    total = 0
    flag = True
    for num in arr:
        while flag:
            if num != 6:
                total += num
            else:
                flag = False
        while not flag:
            if num != 9:
                total

In [179]:
# Check
summer_69([1, 3, 5])

9

In [180]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [181]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [16]:
def spy_game(nums):
    key = [0,0,7,"x"]
    for i in nums:
        print(i)
        if i == key[0]:
            key.pop(0)
    
    return len(key) == 1

In [ ]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [17]:
# Check
spy_game([1,2,4,0,0,7,5])

1
2
4
0
0
7
5

True

In [18]:
# Check
spy_game([1,0,2,4,0,5,7])

1
0
2
4
0
5
7

True

In [19]:
# Check
spy_game([1,7,2,0,4,5,0])

1
7
2
0
4
5
0

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [20]:
def count_primes(num):
    count = 0
    for i in range(1,num):
        for j in range(1,i):
            if (i % j == 0) and (j>1 and j<i):
                break
            count += 1
    
    print(count)

In [21]:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [239]:
# Check
count_primes(100)

1157

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [31]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}

    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [46]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}

    for value in alphabet[letter.upper()]:
        print(alphabet[letter.upper()])

In [47]:
print_big('b')

[5, 3, 5, 3, 5]
[5, 3, 5, 3, 5]
[5, 3, 5, 3, 5]
[5, 3, 5, 3, 5]
[5, 3, 5, 3, 5]

## Great Job!